version: 2
jobs:
  build:
    docker: 
      - image: debian:stretch 
    steps: 
      - checkout
      - setup_remote_docker
      - run:
        name: Install docker
        command: apt-get install docker
      - run: 
          name: Docker build image 
          command: docker build -t c--data-structure .
      - run: 
          name: Print the Current Time 
          command: date