version: 2
jobs:
  build:
    docker: 
      - image: circleci/buildpack-deps 
    steps: 
      - checkout
      - setup_remote_docker
      #- run:
      #    name: Check that apt is installed and update
      #    command: apt --version && apt-get update
      #- run:
      #    name: Install docker
      #    command: apt-get -qy install docker
      #- run:
      #    name: Install docker client
      #    command: |
      #      set -x
      #      VERSION="18.09.7"
      #      curl -L -o /tmp/docker-$VERSION.tgz https://get.docker.com/builds/Linux/x86_64/docker-$VERSION.tgz
       #     tar -xz -C /tmp -f /tmp/docker-$VERSION.tgz
       #     mv /tmp/docker/* /usr/bin

      - run: 
          name: Docker build image 
          command: docker build -t c--data-structure .
      - run: 
          name: Print the Current Time 
          command: date